JDX_DATABASE JDX:jdbc:mysql://localhost:3306/sakila;USER=your_username;PASSWORD=your_password;JDX_DBTYPE=MYSQL;DEBUG_LEVEL=5
JDBC_DRIVER com.mysql.cj.jdbc.Driver
JDX_OBJECT_MODEL_PACKAGE com.softwaretree.jdxmysqlsakilaexample.reversed.json.model
JDX_SUPERCLASS_NAME com.softwaretree.jdx.JDX_JSONObject
JDX_GENERATE_ACCESSOR_METHODS FALSE
JDX_GENERATE_JSON_MAPPINGS TRUE
;
REM ************************************************************************

CLASS Film TABLE film
;

CLASS Film_Actor TABLE film_actor
;

CLASS Film_Category TABLE film_category
;




